<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>layout</title>
  <link href="/bootstrap/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
  <style>
    .border {
      border: 1px solid #000;
      height: 100px;
    }
  </style>
</head>
<body>

<div class="container border">
  <div class="row border">
    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top</button>
  </div>
</div>
<br/>
<div class="container-fluid border">

</div>

<script src="/bootstrap/lib/jquery/dist/jquery.js"></script>
<script src="/bootstrap/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bootstrap/lib/bootstrap/js/tooltip.js"></script>
</body>
</html>