<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>layout</title>
  <link href="/bootstrap/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-xs-4 col-sm-8 col-md-12">test1</div>
    <div class="col-xs-4 col-sm-4 col-md-12">test2</div>
    <div class="col-xs-4 col-sm-12 col-md-12">test3</div>
  </div>
</div>

<script src="/bootstrap/lib/jquery/dist/jquery.js"></script>
<script src="/bootstrap/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bootstrap/lib/bootstrap/js/tooltip.js"></script>
</body>
</html>