<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>layout</title>
  <link href="/bootstrap/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <button class="btn btn-primary" style="width: 100%; margin: 10px 0;">layout</button>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <button class="btn btn-primary" style="width: 100%; margin: 10px 0;">layout</button>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <button class="btn btn-primary" style="width: 100%; margin: 10px 0;">layout</button>
    </div>
  </div>
</div>

<script src="/bootstrap/lib/jquery/dist/jquery.js"></script>
<script src="/bootstrap/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bootstrap/lib/bootstrap/js/tooltip.js"></script>
</body>
</html>